@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply focus:outline-none;
  @apply select-none;
}
.content {
  max-height: calc(100vh - 100px);
}
th,
td {
  @apply whitespace-nowrap;
  @apply border-x;
  @apply border-indigo-500;
  @apply px-2;
  @apply text-center;
  @apply font-bold;
}
tr {
  @apply border-b;
  @apply border-indigo-500;
  @apply table;
  @apply w-full;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  @apply h-1;
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-r from-indigo-400 to-indigo-500;
  @apply w-1;
  @apply h-1/2;
  @apply rounded-full;
}
